<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Authentication system</title>
</head>
<body>
    {% if not has %}  <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="submit" value="Generate">
    </form>
    {% else %}<h1>Your Token is {{Key}}</h1>{% endif %}
</body>
</html>